
@mixin tabsStyles {
  .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none;
  }
  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
    width: 100%;
    column-gap: 5%;
  }
  .ant-tabs-tab {
    width: 13%;
    // font-size: 1rem;
    &:hover {
      color: #f06e38;
    }
  }
  .ant-tabs-tab-btn {
    position: relative;
    left: 25%;
    color: #f06e38;
    opacity: 0.3;
    font-size: 1.6rem;
    font-weight: 500;
  }
  .ant-tabs-ink-bar {
    background-color: #f06e38;
    border-radius: 50px;
  }
  .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
    height: 3.5px;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #f06e38;
    opacity: 1 !important;
  }
}

@mixin TabInkBarcentered {
  .ant-tabs-ink-bar {
    display: none;
  }
  .ant-tabs-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0.41rem;
    width: 25%;
    background-color: transparent;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    transition: all 0.008s;
  }
  .ant-tabs-tab-active.ant-tabs-tab::after {
    background-color: #f06e38;
    transition: all 0.005s;
  }
}

@mixin tableTheme {
  .ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 0px;
  }
  .ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 0px;
  }

  .ant-table-thead > tr > th {
    // border-radius: 10px;
    background-color: #f06e38;
    text-align: center;
    padding: 0.5%;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    border-bottom: none;
  }

  tbody > tr:last-child > td:last-child {
    border-bottom-right-radius: 0px;
  }
  .ant-table-tbody > tr > td {
    text-align: center;
    background-color: white;
    padding: 1.7%;
    white-space: nowrap;
    // padding: 0.5% 0% 1% 3%;
    // text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    color: #39383b;
    border-bottom: none;
    // opacity: 0.9;CAE8ED
    // border-bottom: none;
  }

  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color: white;
    // background-color: black;
  }

  .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0;
    height: 0;
    content: none;
  }
}

@mixin Divider {
  .ant-divider-horizontal {
    border-radius: 50px;
    border-top-color: #f06e38;
    border-top-width: 3.5px;
    margin: 0 0 0 0%;
    min-width: 5%;
    width: 10%;
  }
  h3.title {
    color: #f06e38;
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
  }
}

@mixin ButtonStyle {
  .ant-btn {
    margin: 0 2%;
    color: white;
    background-color: #f06e38;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1.8px solid #f06e38;
    opacity: 1;
    width: 15rem;
    height: 3.5rem;
    border-radius: 7px;
  }
}
